/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.6;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}


/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!
	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

#funding-modal {
	margin: 2em auto;
	max-width: 630px;
	min-width: 630px;
}

#funding-modal header {
	background: #424242;
	border-radius: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 6.5rem;
}

#funding-modal header h1 {
	color: #eaeaea;
	font-size: 1.8rem;
	font-weight: normal;
	text-align: center;
}

#funding-modal .arrow-down {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
	border-top: 13px solid #424242;
	margin-bottom: 0.5rem;
	margin-left: 85%;
  height: 0; 
  width: 0; 
}

#funding-modal progress {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: white;
	border: 2px solid #d3d2d2;
	color: #EF5F3C;
	padding: 1px;
	height: 2.0rem;
	width: 100%;
}

#funding-modal progress::-moz-progress-bar { background: #EF5F3C; }
#funding-modal progress::-webkit-progress-value { background: #EF5F3C; }
#funding-modal progress::-moz-progress-bar { background: #EF5F3C; }

#modal-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 2px solid #d3d2d2;
	border-top: none;
	font-size: 1.6rem;
	padding: 2.6rem;
	padding-top: 1.7rem;
	margin-top: -4px;
	color: #777;
	box-shadow: 0px 5px #f1f1f1;
}

#modal-main p {
	margin-bottom: 1.8rem;
	width: 90%;
}

#modal-main a {
	color: #20A1D4;
	font-style: italic;
	margin-top: 1.0rem;
	text-decoration: none;
}

#modal-main form {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 6.0rem;
	width: 100%;
}

#modal-main form * {
	font-size: 2.2rem;
	font-weight: bold;
	height: 100%;
}

#modal-main form > * {
	flex-basis: 47%;
}

#modal-main form input {
	min-width: 0;
	padding-left: 3.0rem;
	width: 100%;
}

#modal-main form button {
	background: #1CBC2C;
	border: 2px solid  #1baf2a;
	border-bottom: 5px solid  #1baf2a;
	border-radius: 5px;
	color: white;
}

#modal-main form .dollar-sign {
	position: absolute;
	top: 22%;
	left: 3%;
}

#funding-modal footer {
	display: flex;
	justify-content: space-between;
}

#funding-modal footer button {
	background: white;
	color: #777;
	border: 2px solid #d3d2d2;
	border-bottom: 4px solid #d3d2d2;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	flex-basis: 47%;
	height: 5.3rem;
	margin-top: 2.0rem;
}

.orange-text {
	color: #EF5F3C;
}

.bold-text {
	font-weight: bold;
}